---
layout: post
---

<div id="encrypted_content">
  {% if page.src %}
    <p>This is the paid content from <a href="{{ page.src }}">{{ page.src }}</a>.</p>
  {% endif %}
  <form id="encrypt_form" action="#" method="post">
    <input id="encrypt_password"
           type="password"
           name="password"
           placeholder="Password..."
           autofocus />

    <input type="submit" value="Unlock"/>
  </form>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
  <script>
    document.getElementById('encrypt_form').addEventListener('submit', function(e) {
      e.preventDefault();
      var passphrase = document.getElementById('encrypt_password').value,
          encryptedMsg = '{{ page.encrypted }}',
          encryptedHMAC = encryptedMsg.substring(0, 64),
          encryptedHTML = encryptedMsg.substring(64),
          decryptedHMAC = CryptoJS.HmacSHA256(encryptedHTML, CryptoJS.SHA256(passphrase).toString()).toString();

      if (decryptedHMAC !== encryptedHMAC) {
        alert('Wrong password!');
        return;
      }

      var plainHTML = CryptoJS.AES.decrypt(encryptedHTML, passphrase).toString(CryptoJS.enc.Utf8);
      document.getElementById('encrypted_content').innerHTML = plainHTML;

      function generateCatalog(selector) {

      // interop with multilangual 
      if ('{{ page.multilingual }}' == 'true') {
          _containerSelector = 'div.post-container.active'
      } else {
          _containerSelector = 'div.post-container'
      }

      // init
      var P = $(_containerSelector), a, n, t, l, i, c;
      a = P.find('h1,h2,h3,h4,h5,h6');

      // clean
      $(selector).html('')

      // appending
      a.each(function () {
          n = $(this).prop('tagName').toLowerCase();
          i = "#" + $(this).prop('id');
          t = $(this).text();
          c = $('<a href="' + i + '" rel="nofollow">' + t + '</a>');
          l = $('<li class="' + n + '_nav"></li>').append(c);
          $(selector).append(l);
      });
      return true;
      }

      generateCatalog(".catalog-body");

      var config = {
        startOnLoad:true,
        theme: 'forest',
        flowchart:{
                useMaxWidth:false,
                htmlLabels:true
            }
      };
      mermaid.initialize(config);
      window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
    });
  </script>
</div>